Aca va (botones de eliminarla, modificarla, finalizarla, crear mas)
<p>Tarea: @ViewBag.Tarea.Titulo ID: @ViewBag.Tarea.IdTarea</p>
<p>@ViewBag.Tarea.Descripcion</p>
<p>Fecha: @ViewBag.Tarea.FechaTarea</p>
<p>Finalizado: @ViewBag.Tarea.Finalizado</p>